@using Teaching.ViewModels
@using Microsoft.AspNetCore.Identity
@model MailViewModel
@inject SignInManager<AppUser> signInManager;
@inject UserManager<AppUser> userManager;
@{
    ViewData["Title"] = "Contact us";
}
<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
        
        @if(ViewBag.IsSent == true)
        {
            <div class="col-12 mt-5">
                <h2>We will contact you shortly about your inquiry!</h2>    
            </div>
        } 
        else
        {
            <div class="col-7 bg-white border border-white rounded rounded-custom shadow-lg p-2">
                <h3 class="text-center mt-4 mb-4 mt-2">Please enter you message below</h3>

                <form method="post" class="mx-1 mx-md-4">

                    @if (User?.Identity?.IsAuthenticated == false)
                    {
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <label asp-for="@Model.From"><strong>From</strong></label>
                                <input placeholder="example@gmail.com" class="form-control" asp-for="@Model.From">
                            </div>
                        </div>
                    }

                    <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                            <label asp-for="@Model.Subject"><strong>Subject</strong></label>
                            <input placeholder="Something" class="form-control" asp-for="@Model.Subject">
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <div class="form-outline flex-fill mb-0">
                            <label asp-for="@Model.Body"><strong>Message</strong></label>
                            <textarea cols="100" rows="10" maxlength="909" placeholder="Write your message here" class="form-control" asp-for="@Model.Body"></textarea>
                        </div>
                    </div>

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                    <div class="d-flex flex-row justify-content-end mb-4">
                        <button type="submit" class="btn btn-outline-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                            </svg>
                            Send
                        </button>

                    </div>
                </form>
             </div>
            }
        
    </div>
</div>